.container-contatti {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; // allinea in alto
  gap: 2rem; // spazio tra contatti-maps e form
  background-color: #f0f0f0;
  padding: 2rem;

  .contatti-maps {
    display: flex;
    flex-direction: column; // contatti sopra, mappa sotto
    width: 35%; // occupa più spazio a sinistra
    gap: 2rem;

    .contatti {
      width: 100%;
      height: 40vh;
      padding: 1rem;
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      background-color: #fff;

      h1 {
        width: 100%;
      }

      .telefono-email,
      .indirizzo-seguici {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .blocco {
          width: 48%; // leggero margine tra blocchi
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p.titolo {
            font-weight: bold;
            color: #a0a0a0;
          }

          p {
            color: #a0a0a0;
            font-size: 0.9rem;
            margin: 0.2rem 0;
          }

          .riga {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

          .icone {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }

    .maps {
      width: 100%;

      iframe {
        width: 100%;
        height: 40vh;
        border: 0;
      }
    }
  }

  .form {
    width: 25%; // lato destro
    height: auto;
    min-height: 84vh;
    padding: 1rem;
    border: 2px solid #fff;
  }
}
